
/* animation */
.animated {
  transition: 1s;
  transform: translateY(100px);
  opacity: 0;
}

.animate .animated {
  transform: translateY(0);
  opacity: 1;
}

/*container*/
.container {
  max-width: 1530px;
  @include cf;
  margin: 0 auto;
  margin-left: 95px;
  margin-right: 95px;
}

/*Buttons*/
.btn {
  outline: none;
  text-decoration: none;
  box-shadow: none;
  border: 1px solid transparent;
  height: 36px;
  line-height: 34px;
  padding: 0 25px;
  border-radius: 107px 0 107px 0;
  text-transform: none;
  box-sizing: border-box;
  font-size: 15px;
  cursor: pointer;
  display: inline-block;
  transition: all .15s ease-out 0s;
  color: $white;
  appearance: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  z-index: 2;
}

.slide_submit {
  color: #ee4c47;
  font-size: 18px;
  font-family: $font-medium;
  border: 1px solid $red-light;
  background-color: #f0eeef;
  padding: 8px 25px;
  /*margin-bottom: 38px;*/
  outline: 0;
  box-sizing: border-box;
  &:hover {
    background-color: $red-light;
    color: #f0eeef;
  }
}
  .submit_small {
    font-size: 14px;
    border: 1px solid $red-light;
    color: #ee4c47;
    font-family: $font-medium;
    background-color: $white;
    outline: 0;
    padding: 10px 18px;
    &:hover {
      background-color: $red-light;
      color: $white;
    }
  }




.form-control {
  border: none;
  border-bottom: 1px solid $white;
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 34px;
  color: $white;
  padding: 0 25px 0 0;
  height: 36px;
  display: block;
  width: 100%;
  background: none;
  &::-webkit-input-placeholder {
    color: $white;
  }
  &::-moz-placeholder {
    color:$white;
  }
  &:-ms-input-placeholder {
    color: $white;
  }
  &.form-control-lg {
    font-size: 18px;
    height: 44px;
  }
}