// Clearfix

@mixin cf() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}


// Media mixin's
@mixin laptop () {
  @media (max-width: 1280px) {
    @content;
  }
}

@mixin laptop-s () {
  @media (max-width: 1176px) {
    @content;
  }
}

@mixin tablet () {
  @media (max-width: 1023px) {
    @content;
  }
}

@mixin tablet-sm () {
  @media (max-width: 874px) {
    @content;
  }
}


@mixin mobile-sm () {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin phone () {
  @media (max-width: 320px) {
    @content;
  }
}

