/*--- FONTS ---*/
$font-family-base			  :'Exo 2', sans-serif;
$font-light                   :'Exo2-0-Light', sans-serif;
$font-medium                  :'Exo2-0-Medium', sans-serif;
$font-semibold                :'Exo2-0-SemiBold', sans-serif;
$font-bold                    :'Exo2-0-Bold', sans-serif;
$font-extra                   :'Exo2-0-ExtraBold', sans-serif;
$font-open                    :'Open Sans', sans-serif;
$font-openextra               :'Open Sans Extrabold', sans-serif;

  /*---- COLORS ----*/
$blue                         : #0097bf;
$white                        : #fff;
$black                        : #000;
$text                         : #424242;
$red-light                    : #ee4c47;

/*---- EFFECTS ----*/
$transition-base		    : 		0.2s;
